{% extends "base.html" %}
{% load timetonow %}
{% block header %}
<title>{% ifnotequal user.unread 0%} ({{user.unread}}) {% endifnotequal %} 物志 › {{art.title}} </title>

<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinyMCE.init(
{

    'custom_undo_redo_levels': 20,
    'selector': 'textarea',
    'theme': 'modern',
    'plugins': ' textcolor save link image media preview codesample contextmenu table code lists fullscreen  insertdatetime  nonbreaking contextmenu directionality searchreplace wordcount visualblocks visualchars code fullscreen autolink lists  charmap print  hr anchor pagebreak textpattern',
    'toolbar1': 'bold italic underline  fontsizeselect forecolor | alignleft alignright aligncenter alignjustify indent outdent   bullist numlist | link image media hr codesample preview',
    'contextmenu': 'formats | link image',
    'menubar': false,
    'statusbar': false,
    }

);
</script>
<script type="text/javascript">
function atuser(arg){
    const content = tinyMCE.activeEditor.getContent();
    tinyMCE.activeEditor.setContent(content+arg);
    tinyMCE.execCommand('mceFocus',false,'id_comment');
}
</script>

{% endblock %}


{% block banner %}
<div class="banner" style="background:url(/{{art.cover}}) no-repeat;background-position:center;background-size:cover;">
    <div class="container">
            <h1>{% if art %}{{art.title}}{% endif %} </h1>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="card margintop article-content">
    <span class="fad">作者：<a href="/userpage/member/{{art.author_id}}/"><img src="/{{art.author_id.avatar}}" class="avatar-img">&nbsp;{{art.author_id}}</a> </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fad">阅读数：{{art.readtime}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fad">评论数：{{comments|length}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    {% ifequal request.user.id  art.author_id.id %}
    <span class="fad pull-right" ><button  class="btn btn-primary" onclick="window.location.href='/article/update/{{art.id}}/'">编辑</button></span>
    {% endifequal %}
    <p></p>
    <span class="fad">发表于：{{art.publish_time|timetonow}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fad">标签：{% if arg.tag %}{{art.tag}}{% endif %}</span>
    <span class="sep margintop" ></span>
    <div class="ad1"> <h3>广告位</h3> </div>
    {{art.detail|safe }}
</div>

<div class="card">
    <p>评论</p>
    
    {% for i in comments %}
    <div class="comment row {% ifequal i.invalid 'Y' %}invalid{% endifequal %}">
        <div class="comment-avatar" > <!--style="background:url(/{{i.user.avatar}}) no-repeat;background-position:10px 20px;background-size:60px 60px;"-->
            <a href="/userpage/member/{{i.user}}/">{{i.user}}</a>
            <img class="comment-avatar-img"  src="/{{i.user.avatar}}">
        </div>
        <div class="comment-info ">

              <span class="glyphicon glyphicon-time fad"> </span>&nbsp;<span class="fad">{{i.comment_time|timetonow}}</span> &nbsp;&nbsp; 
            {% ifequal art.author_id.id  i.user.id %}
                <span class="ico fad" style="padding:2px;border:1px solid gray">作者</span>
            {% endifequal %}
            <span class="pull-right ico fad floor" id="comment_{{i.id}}"># {{forloop.counter}}</span>
              <span class="pull-right ico ">
                <a href="javascript:;" onclick="atuser('<a href=#comment_{{i.id}} > [#{{forloop.counter}}]</a> @<a class=mentioned_user href=/userpage/member/{{i.user}}>{{i.user}}</a>&nbsp;')"><img style="inline-block" src="/static/image/reply.png" align="absmiddle" border="0" alt="Reply"></a>
              </span>

            <p></p>
            {% ifequal i.invalid 'Y' %}
                <p style="font-style:italic;">“此评论违规”</p>
            {% else %}  
              {{i.comment|safe|escape}}
            {% endifequal %}
            
       </div>
    </div>
    
    {% endfor %}
</div>

<div class="card">
    <p>发布评论</p>

{% if comment_form.errors %}
    {% for field in comment_form %}
        {% for error in field.errors %}
            <script type="text/javascript">
            $.notify({
                // options
                message: '{{ error|escape }}',
            },{
                // settings
                type: 'danger',
                delay: 5000,
                timer: 1000,
                animate: {
                    enter: 'animated flipInY',
                    exit: 'animated flipOutX'
                },
            },);
           </script>
        {% endfor %}
    {% endfor %}
{% endif %}  

{% if errors %}
        {% for error in errors %}
            <script type="text/javascript">
            $.notify({
                // options
                message: '{{ error|escape }}',
            },{
                // settings
                type: 'danger',
                delay: 5000,
                timer: 1000,
                animate: {
                    enter: 'animated flipInY',
                    exit: 'animated flipOutX'
                },
            },);
           </script>
        {% endfor %}
{% endif %}  
    <form class="textarea" method="post" novalidate>
        {% csrf_token %}
        <input type='hidden' name="article" value="{{art.id}}" />
        <input type='hidden' name="user" value="{{request.user.id}}" />
        <input type='hidden' name="invalid" value="N" />
        {{comment_form.comment}}
        <p></p>
        <button class="btn btn-default pull-right" type="submit">发布</button>
    </form>

</div>
{% endblock %}
