{% extends "base.html" %}

{% block header %}
<title>{{art.title}} - 物志</title>
<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init(
{
    'height': 100,
    'width': '100%',
    'custom_undo_redo_levels': 20,
    'selector': 'textarea',
    'theme': 'modern',
    'plugins': ' textcolor save link image media preview codesample contextmenu table code lists fullscreen  insertdatetime  nonbreaking contextmenu directionality searchreplace wordcount visualblocks visualchars code fullscreen autolink lists  charmap print  hr anchor pagebreak textpattern',
    'toolbar1': 'fullscreen preview bold italic underline | fontselect,  fontsizeselect  | forecolor backcolor | alignleft alignright |  aligncenter alignjustify | indent outdent | bullist numlist table | | link image media | codesample |',
    'toolbar2': '  visualblocks visualchars | charmap hr pagebreak nonbreaking anchor |  code |',
    'contextmenu': 'formats | link image',
    }

);
</script>

{% endblock %}


{% block banner %}
<div class="banner" style="background:url(/{{art.cover}}) no-repeat;background-position:center;background-size:cover;">
    <div class="container">
            <h1>{% if art %}{{art.title}}{% endif %} </h1>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="card margintop article-content">
	<span class="fad">作者：<a href="#"><img src="/static/{{art.author_id.avatar}}" class="avatar-img">&nbsp;{{art.author}}</a> </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fad">发表于：{{art.publish_time}}</span>
	<span class="sep margintop"></span>
	<div class="ad1"> <h3>广告位</h3> </div>
    {{art.detail|safe|escape }}
</div>

<div class="card">
		<p>评论</p>
	<span class="sep"></span>
	{% for i in comments %}
    <div class="comment row">
        <div class="comment-avatar" style="background:url(/static/{{i.user.avatar}}) no-repeat;background-position:10px 20px;background-size:60px 60px;">
		{{i.user}}
        </div>
        <div class="comment-info">
          	<span class="glyphicon glyphicon-time fad"> </span>&nbsp;<span class="fad">{{i.comment_time}}</span>  
			<span class="pull-right fad floor"> # {{forloop.counter}}</span>
          	<span class="pull-right">
					<a href="#"><img style="inline-block" src="/static/image/reply.png" align="absmiddle" border="0" alt="Reply"></a>
          	</span>
			<p></p>
          	{{i.comment|safe|escape}}
       </div>
    </div>
	<span class="sep"></span>
	{% endfor %}
</div>

<div class="card">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
    	{% csrf_token %}
		<input type='hidden' name="article" value="{{art.id}}" />
		<input type='hidden' name="user" value="{{request.user.id}}" />
		<input type='hidden' name="ip" value="1.1.1.1" />

		{{comment_form.comment}}
    	<button class="btn btn-default pull-right" type="submit">发表</button>
    </form>

</div>
{% endblock %}
