{% extends "base.html" %}

{% block header %}
<title>发布文章 - 物志</title>
<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinyMCE.init(
{

    'custom_undo_redo_levels': 20,
    'selector': 'textarea',
    'theme': 'modern',
    'plugins': ' textcolor save link image media preview codesample contextmenu table code lists fullscreen  insertdatetime  nonbreaking contextmenu directionality searchreplace wordcount visualblocks visualchars code fullscreen autolink lists  charmap print  hr anchor pagebreak textpattern',
    'toolbar1': 'bold italic underline  fontsizeselect forecolor alignleft alignright aligncenter alignjustify | indent outdent bullist numlist link image media hr codesample preview',
    'contextmenu': 'formats | link image',
    'menubar': false,
    'statusbar': false,
    }

);
</script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-tagsinput.js"></script>
<link href="/static/bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet">
{% endblock %}

{% block banner %}
    <div style="height:30px">
        <p></p>
    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4>{{operation}}文章</h4>
    <span class="sep margintop"></span>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" class="form-inline textarea" novalidate>
        {% csrf_token %}
        <input type="hidden" name="author_id" value="{{request.user.id}}">
        <p>{{article_form.section}} - {{article_form.title}} - {{article_form.author}}</p> 
	    <p>上传封面图片 : {{article_form.cover}}</p>
        <span class="sep margintop"></span>
        <p>正文</p>
        {{article_form.detail}}
        <p></p>
        {{article_form.tag}}
         <p></p>
        <button class="btn btn-default pull-right" type="submit">发布</button>
    </form>
</div>

<div class="card margintop article-content">
    <div class="ad1"> <h3>广告位</h3> </div>
    {{art.detail|safe|escape }}
</div>

{% endblock %}
