{% extends "base.html" %}

{% block header %}
<title>发布文章 - 物志</title>
<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinyMCE.init(
{

    'custom_undo_redo_levels': 20,
    'selector': 'textarea',
    'theme': 'modern',
    'plugins': ' textcolor save link image media preview codesample contextmenu table code lists fullscreen  insertdatetime  nonbreaking contextmenu directionality searchreplace wordcount visualblocks visualchars code fullscreen autolink lists  charmap print  hr anchor pagebreak textpattern',
    'toolbar1': 'bold italic underline  fontsizeselect forecolor | alignleft alignright aligncenter alignjustify indent outdent   bullist numlist | link image media hr codesample preview',
    'contextmenu': 'formats | link image',
    'menubar': false,
    'statusbar': false,
    }

);
</script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-tagsinput.js"></script>
<link href="/static/bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet">


{% endblock %}

{% block banner %}
    <div style="height:30px">
        <p></p>
    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4>{{operation}}文章</h4>
    <span class="sep margintop"></span>
{% if article_form.errors %}
    {% for field in article_form %}
        {% for error in field.errors %}
            <script type="text/javascript">
            $.notify({
                // options
                message: '{{ error|escape }}',
            },{
                // settings
                type: 'danger',
                delay: 5000,
                timer: 1000,
                animate: {
                    enter: 'animated flipInY',
                    exit: 'animated flipOutX'
                },
            },);
           </script>
        {% endfor %}
    {% endfor %}
{% endif %}  

    <form method="post" class="form-inline textarea" data-ajax="false" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <input type="hidden" name="author_id" value="{{user.id}}">
        <p>{{article_form.section}} - {{article_form.title}}</p> 
	    <p>上传封面图片 : {{article_form.cover}}</p>
        <span class="sep margintop"></span>
        <p>正文</p>
        {{article_form.detail}}
        <p></p>
        {{article_form.tag}}
         <p></p>
        <button class="btn btn-default pull-right" type="submit">发布</button>
    </form>
</div>

<div class="card margintop article-content">
    <div class="ad1">  </div>
    {{art.detail|safe|escape }}
</div>

{% endblock %}
