{% extends 'base.html' %}
{% load timetonow %}

{% block header %}
<title> 物志 › {{request.user}} </title>


{% endblock %}

{% block banner %}
    <div style="height:30px">
        <p></p>
    </div>
{% endblock %}

{% block content %}
<div class="card">
        <form class="form-inline " method="post" action="" novalidate>{% csrf_token %}
        	<a href="/">物志</a> › 修改密码
        	<hr>
{{form.as_p}}
            <p style="text-align:center">
            	<button class="btn btn-primary" type="submit" >确认修改</button>
            </p>
        </form>
    </div>



    {% if messages %}
            {% for m in messages %}
                <script type="text/javascript">
                $.notify({
                    // options
                    message: '{{ m|escape }}',
                },{
                    // settings
                    type: 'danger',
                    delay: 5000,
                    timer: 1000,
                    animate: {
                        enter: 'animated flipInY',
                        exit: 'animated flipOutX'
                    },
                },);
               </script>
            {% endfor %}
    {% endif %}  



{% endblock %}