{% extends 'base.html' %}
{% load timetonow %}

{% block banner %}
    <div style="height:30px">
        <p></p>
    </div>
{% endblock %}

<div class="banner" style="background:url(/static/upload/{{cover}}) no-repeat;background-position:center;background-size:cover;">
    <div class="container">
            <h1>{% if title %}{{title}}{% endif %} </h1>
    </div>
</div>


{% block content %}

    {% for i in arts %}
    <div class="card">
        <div class="preview row">
                <div class="preview-image" style="background:url({{i.cover}}) no-repeat;background-position:center;background-size:cover;">
                <p></p>
            </div>
            <div class="preview-info">
                <a href="/article/{{i.id}}/"><h2>{{i.title}}</h2></a>
                <p class="fad">{{i.detail|striptags|truncatechars:500|safe}} </p>
                <p></p>
                <span class="glyphicon glyphicon-time fad"> </span>&nbsp;<span class="fad">{{i.publish_time|timetonow}}</span>  
                &nbsp;&nbsp;&nbsp;
                <a href="/userpage/member/{{i.author_id}}/"><span class="glyphicon glyphicon-user fad"> </span>&nbsp;<span class="fad">{{i.author}}</span></a>
                &nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-th-list fad"> </span>&nbsp;<a href="/?catalog={{i.section}}"><span class="fad">{{i.section}}</span></a>
                &nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-eye-open fad"> </span>&nbsp;<span class="fad">{{i.readtime}}</span> 
                &nbsp;&nbsp;&nbsp; 
                <span class="glyphicon glyphicon-tag fad"> </span>&nbsp;<span class=" fad">{{i.tag}}</span>
                <span class="pull-right">
                    <span><a href="/article/{{i.id}}/">阅读全文</a></span>
                </span>
            </div>
        </div>

    </div>
    {% endfor %}

{% endblock %}

